body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/27ea359f-4142-4716-af8a-6308370f0c7e/dakj6bn-b6cfa869-8b7d-4d38-a21e-eaa53c6b84ca.jpg/v1/fill/w_800,h_1208,q_75,strp/stars_field_large_background_stock_by_annamae22_dakj6bn-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTIwOCIsInBhdGgiOiJcL2ZcLzI3ZWEzNTlmLTQxNDItNDcxNi1hZjhhLTYzMDgzNzBmMGM3ZVwvZGFrajZibi1iNmNmYTg2OS04YjdkLTRkMzgtYTIxZS1lYWE1M2M2Yjg0Y2EuanBnIiwid2lkdGgiOiI8PTgwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.nQfP4ZglN2p1GHmjOgoOMu6vuF5y9HRc-kH3fvG96oU);
}
header {
  display: flex;
  border-radius: 10px;
  border: 5px double lightblue;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  padding: 25px;
  margin-bottom: 50px;
  animation-name: headerAnim;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background: cadetblue;
  color: aliceblue;
}
.quoteContainer {
  display: flex;
}
.quoteFrom {
  background-color: cadetblue;
  border-radius: 10px;
  border: 5px double lightblue;
  color: aliceblue;
  text-align: center;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  align-self: center;
  margin: 12px;
  padding-left: 15px;
  padding-right: 15px;
  animation-name: quoteFromAnim;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.quote {
  background-color: cadetblue;
  border-radius: 10px;
  border: 5px double lightblue;
  color: aliceblue;
  align-self: center;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  align-items: flex-end;
  margin: 12px;
  font-size: 35px;
  padding: 15px;
  font-style: italic;
  animation-name: quoteAnim;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes quoteAnim {
  from {background-color: cadetblue;}
  to {background-color: transparent;}
}
@keyframes quoteFromAnim {
  from {background-color: transparent;}
  to {background-color: cadetblue;}
}
@keyframes headerAnim {
  from {background-color: cadetblue;}
  to {background-color: transparent;}
}
